<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Binance Change Tracking</title>

<!-- CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<style>
  body { padding-top:50px; }
</style>

<!-- JS -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
<script src="script.js"></script>

</head>
<body>
  <div class="container" ng-app="sortApp" ng-controller="mainController">
    <div style="padding-bottom: 20px">
      <a href="#" ng-click="changeMin(1)">Last 1 min</a> &middot;
      <a href="#" ng-click="changeMin(5)">Last 5 min</a> &middot;
      <a href="#" ng-click="changeMin(10)">Last 10 min</a> &middot;
      <a href="#" ng-click="changeMin(30)">Last 30 min</a> &middot;
      <a href="#" ng-click="changeMin(60)">Last 60 min</a>
    </div>

    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-search"></i></div>
          <input type="text" class="form-control" placeholder="Search şitcoin" ng-model="searchCoin">
        </div>
      </div>
    </form>
    <h2>Changes in last {{ min }} min</h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <td>
            <a href="#" ng-click="sortType = 'symbol'; sortReverse = !sortReverse">
              Symbol
              <span ng-show="sortType == 'symbol' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'symbol' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </td>
          <td>
            <a href="#" ng-click="sortType = 'change'; sortReverse = !sortReverse">
            Change
              <span ng-show="sortType == 'change' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'change' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </td>
          <td>
            <a href="#" ng-click="sortType = 'volumes'; sortReverse = !sortReverse">
            Volumes ({{ min }}min)
              <span ng-show="sortType == 'volumes' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'volumes' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </td>
          <td>
            <a href="#" ng-click="sortType = 'trades'; sortReverse = !sortReverse">
            Trades
              <span ng-show="sortType == 'trades' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'trades' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </td>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="coin in coins | orderBy:sortType:sortReverse | filter:searchCoin">
          <td><a href="https://www.binance.com/trade.html?symbol={{ coin.symbol }}" target="_blank">{{ coin.symbol }}</a></td>
          <td>{{ coin.change }} %</td>
          <td>{{ coin.volumes }} BTC</td>
          <td>{{ coin.trades }} Order</td>
        </tr>
      </tbody>

    </table>
</body>
</html>
